manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob

  projects:
    - name: zmk
      remote: zmkfirmware
      # Pinning to a known stable version before the Zephyr 4.1 breaking changes
      revision: v0.1
      import: app/west.yml
    - name: zmk-helpers
      remote: urob
      revision: main

  self:
    path: config